@model StatefulProject.Student

@{
    ViewData["Title"] = "studentUpdate";
}

<h1>studentUpdate</h1>

<h4>student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="studentUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="User.FullNameEn" class="control-label"></label>
                <input asp-for="User.FullNameEn" class="form-control" />
                <span asp-validation-for="User.FullNameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FullNameAr" class="control-label"></label>
                <input asp-for="User.FullNameAr" class="form-control" />
                <span asp-validation-for="User.FullNameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label"></label>
                <input asp-for="User.BirthDate" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Gender" class="control-label"></label>
                <br />

                <div class="form-group">

               <input type="radio" asp-for="User.Gender" value=0>
                <label >Male</label><br>
                <input type="radio" asp-for="User.Gender" value=1>
                <label >Female</label><br>
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>


             
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.departmentList">
                    <option value="DepartmentId"></option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentStatus" class="control-label"></label>
                <br />
                <select asp-for="StudentStatus" class="form-control">
                    <option value="Accepted">Accepted </option>
                    <option value="Rejected">Rejected</option>
                </select>
                <span asp-validation-for="StudentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faculty" class="control-label"></label>
                <input asp-for="Faculty" class="form-control" />
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="University" class="control-label"></label>
                <input asp-for="University" class="form-control" />
                <span asp-validation-for="University" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                <input asp-for="Specialization" class="form-control" />
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationGrade" class="control-label"></label>
                <input asp-for="GraduationGrade" class="form-control" />
                <span asp-validation-for="GraduationGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <button type="button" class="btn btn-info" >
             <a style="color:black" asp-action="ShowStudents">Back to List</a>
        </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
